<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Настройки соединения с базой данных -->
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost/test</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">root</property>

        <!-- Настройки пула соединений -->
        <property name="hibernate.connection.pool_size">1</property>

        <!-- Настройки диалекта SQL -->
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Настройки автоматической генерации схемы таблиц -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Маппинг сущностей -->
        <mapping class="com.example.User"/>
    </session-factory>
</hibernate-configuration>